#result {
  margin: 0;
}
#result.error {
  color: red;
}
#components-wrapper ul,
#users-wrapper ul {
  list-style: none;
}
#components-wrapper li > p,
#users-wrapper li > p {
  min-height: 32px;
}
.aspect-name {
  margin-right: 10px;
}
.aspect-description {
  color: gray;
}
li > ul {
  margin-left: 16px;
  padding-left: 16px;
  border-left: 1px dotted gray;
}
li > p {
  background-color: transparent;
  background-position: 0% 50%;
  background-repeat: no-repeat no-repeat;
  padding-left: 36px;
}

