<html>
	<head>
		<meta charset='UTF-8'/>
		<title class='title'/>
		<link rel='stylesheet' type='text/css' href='http://www.w3schools.com/lib/w3.css'/>
		<link rel='stylesheet' href='https://fonts.googleapis.com/icon?family=Material+Icons'/>
		<style type='text/css'>
			#controls{
				position: absolute;
				right: 0;
				top: 0;
				padding-left: 10px;
				border-bottom-left-radius: 25%;
			}
			#controls > *{
				cursor: pointer;
				vertical-align: middle;
			}
			#invert-button{font-size: 64px;}
			#version-select{font-size: 50px;}
			body.dark > #controls{background-color: rgb(40, 40, 40);}
			body.light > #controls{background-color: rgb(200, 200, 200);}
		</style>
	</head>
	<body class='w3-container dark'>
		<h1 class='title'/>
		<span id='controls'>
			<i id='invert-button' class='material-icons'>invert_colors</i>
		</span>
		<content/>
	</body>
</html>
<script class='seteRun'>
	var titles = document.getElementsByClass('title');
	titles.removeClass('title');
	for(var i=0; i<titles.size(); i++) titles.get(i).text(page.getAttribute('title'));
	
	var headers = document.getElementsByTag('h1');
	for(var i=2; i<=6; i++) headers.addAll(document.getElementsByTag('h' + i));
	headers.addClass('w3-text-cyan');
</script>
<script>
	$('#invert-button').on('click', function(){
		var dark = ($('body.dark').length == 1);
		$('body').toggleClass('dark', !dark).toggleClass('light', dark);
	});
</script>
